html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color:gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  color: #424748;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #b4dde1; */
  background-image: url('/sky.jpg');
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;
  background-color: #2c2f31;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;

}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #9aa2a4;
}

nav > a:hover {
  color: white;
  background-color: #33656e;
}

nav > a.active {
  color: white;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
  color: white;
}

.index-btns {
  border-color: #424748;
  color: #424748;
}

select, input {
  border: none;
  color:   #424748
}

#breathing-room {
  margin: 2px;
}

#meal-line {
  margin: 3px 0 0 0;
}
